@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('components/card.css');
@import url('components/form.css');
@import url('components/navbar.css');

body {
  background-color:hsl(0, 0%, 98%);
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

body.dark {
  background-color:hsl(231, 21%, 13%);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.header {
  background-image: url('../images/bg-desktop-light.jpg');
  position: relative;
  height: 280px;
}

body.dark .header {
  background-image: url('../images/bg-desktop-dark.jpg');
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  width: 540px;
  position: absolute;
  top: 56px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.btn-mode {
  margin: 26px 0 32px 0;
}

.sun {
  display: none;
}

body.dark .sun {
  display: block;
}

body.dark .moon {
  display: none;
}

h1 {
  color: white;
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-bottom: 32px;
}

/*-----media queries-----*/
@media only screen and (max-width: 600px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 460px) {
  .container {
    width: 90%;
  }
  .todo-navbar {
    position: relative;
  }
  h4 {
    font-size: 18px;
  }
  .buttons {
    background-color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -82px;
    gap: 16px;
    padding: 24px 0;
    border-radius: 4px;
    box-shadow: 0px 15px 40px 10px rgb(148 151 181 / 11%);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }
  body.dark .buttons{
    background-color: hsl(235, 23%, 22%);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    box-shadow: 0px 15px 40px 10px rgba(16, 17, 31, 0.11);
  }
  .btn-all, .btn-active, .btn-completed {
    font-size: 18px;
  }
}
